@font-face {
  font-family: "Truth and Ideals";
  src: url("/bundles/psrd-2022-springtide-storm-layouts/fonts/truth-and-ideals-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Truth and Ideals Shadow";
  src: url("/bundles/psrd-2022-springtide-storm-layouts/fonts/truth-and-ideals-shadow.ttf") format("truetype");
}

@font-face {
  font-family: "Fighting Ideals";
  src: url("/bundles/psrd-2022-springtide-storm-layouts/fonts/fighting-ideals-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Fighting Ideals Outline";
  src: url("/bundles/psrd-2022-springtide-storm-layouts/fonts/fighting-ideals-outline.ttf") format("truetype");
}

@font-face {
  font-family: "Small Truths";
  src: url("/bundles/psrd-2022-springtide-storm-layouts/fonts/small-truths-normal.ttf") format("truetype");
}

html, body {
	/* Removes the page's margin/padding and makes it fill the whole browser. */
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	/* Turns the whole page into a flex box, so we can position the text horizontally/vertically. */
	display: flex;
	/* Options for settings below: flex-start (top/left), center, flex-end (bottom/right). */
	align-items: flex-start; /* Aligns vertically centre. */
	justify-content: flex-start; /* Aligns horizontally centre. */
	
	/* Change the default text font, size and colour. */
	font-family: "Fighting Ideals";
	color: #313131;
	font-size: 24px;
}

* {
	box-sizing: border-box;
}

.title {
	background-color: #A64E42;
	color: #fff;
}

.subtitle {
	background-color: #000;
	color: #fff;
}

.hidden.hidden.hidden {
	display: none;
}

body {
	overflow: hidden;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.runner-block {
	display: flex;
	flex-direction: column;
}

.block-letters {
	position: relative;
	color: #16181C;
	/* text-shadow: -1px 1px 0px #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
	font-family: "Fighting Ideals Outline";
}

.block-inside {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	/* text-shadow: -1px 1px 0px #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
	font-family: "Fighting Ideals";
}

.block-letters.level {
	text-transform: uppercase;
	color: #403C0C;
}

.block-letters.level .block-inside {
	color: #FFD467;
}

.runner-name {
	position: relative;
	font-size: 2.5rem;
	max-width: max-content;
}

.runner-bar-top-container {
	position: relative;
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
	align-items: flex-end;
	height: 2.5rem;
}

.runner-bar-top {
	position: relative;
	left: 0.125rem;
	stroke: #666666;
	stroke-width: 0.125rem;
	stroke-linecap: butt;
	fill: #F8F8F8;
	height: 100%;
}

.runner-bar-top-text {
	position: absolute;
	display: flex;
	padding-left: 3.5rem;
	left: 0;
	top: 0.7rem;
	width: 100%;
	padding-right: 1rem;
	font-size: 1rem;
	align-items: baseline;
	font-family: "Truth and Ideals";
}

.runner-info {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	top: 0.625rem;
	padding-right: 0.825rem;
	padding-left: 4.875rem;
}

.runner-pronouns-container {
	display: flex;
	align-items: baseline;
}

.runner-pronouns-label {
	margin-left: 1rem;
	margin-right: 0.25rem;
}

.runner-pronouns {
	font-size: 1.25rem;
	max-width: max-content;
}

.runner-bar-bottom-container {
	position: relative;
	overflow: hidden;
}

.runner-bar-bottom {
	position: relative;
	left: 1.875rem;
	top: -0.625rem;
	width: 100%;
	height: 2.5rem;
	background-color: #313131;
	border: 0.25rem solid #1D1D1B;
	transform: skew(-45deg);
}

.runner-bar-bottom-text {
	position: relative;
	display: flex;
	top: calc(0.25rem + 1px);
	padding-left: 3rem;
	padding-right: 2.5rem;
	height: calc(100% - 0.25rem);
	justify-content: space-between;
	align-items: center;
	transform: skew(45deg);
	color: #fff;
	font-family: "Fighting Ideals";
	font-size: 1.5rem;
}

.runner-runtime {
	display: flex;
	align-items: center;
	font-size: 1rem;
}

.clock-icon {
	position: relative;
	top: 1px;
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 0.25rem;
	background-color: #fff;
	margin-right: 0.5rem;
}

.clock-icon-inner {
	position: absolute;
	left: 0.125rem;
	top: 0.125rem;
	width: 0.875rem;
	height: 0.875rem;
	border-radius: 0.25rem;
	background-color: #313131;
}

.clock-icon-hand {
	position: absolute;
	left: 0.5rem;
	top: 0.125rem;
	width: 0.1875rem;
	height: 0.375rem;
	background-color: #fff;
	transform: rotate(40deg);
}

.runner-game {
	font-size: 1.125rem;
}

.runner-console {
	font-size: 0.825rem;
	margin-left: auto;
}

.runner-category {
	font-family: "Truth and Ideals";
	font-size: 1rem;
}

.info-bar {
	position: relative;
	display: flex;
	background-color: #181818;
	width: 100vw;
	padding: 0.55rem 0.5rem 0.25rem;
	color: #fff;
	justify-content: space-between;
	font-family: "Small Truths";
	text-transform: uppercase;
}

.info-bar-flair {
	position: absolute; 
	display: flex;
	top: 50%;
	left: 50%;
	align-items: center;
	transform: translate(-50%, -50%);
}

.info-bar-flair-box {
	width: 0.25rem;
	height: 0.25rem;
	margin-right: 0.25rem;
	background-color: #4C4C4C;
	margin-top: -0.125rem;
}

.info-bar-flair-text {
	color: #4C4C4C;
}

.info-bar-flair-text + .info-bar-flair-box {
	margin-left: 2rem;
}

.info-bar-flair-box.enabled {
	background-color: #fff;
}

.info-bar-flair-text.enabled {
	color: #fff;
}

.bottom-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.donation-block {
	align-self: flex-start;
}

.donation-block .runner-bar-top-text {
	top: calc(0.75rem + 1px);
}

.donation-block .runner-bar-top-text {
	align-items: center;
}

.runner-block.flipped .runner-bar-top-container, 
.runner-block.flipped .runner-bar-bottom-container {
	transform: scaleX(-100%);
}

.runner-block.flipped .runner-info {
	left: 0;
	padding-right: 4.875rem;
	padding-left: 0.825rem;
}

.runner-block.flipped .runner-bar-top-text {
	transform: scaleX(-100%);
	left: 0;
	padding-left: 0.75rem;
	padding-right: 3.5rem;
}

.runner-block.flipped .runner-bar-bottom-text {
	transform: scaleX(-100%) skew(-45deg);
	padding-left: 2.25rem;
	padding-right: 1.75rem;
}

.donation-block .runner-name {
	font-size: 1.5rem;
}

.donate-cta {
	font-size: 1rem;
	font-family: "Truth and Ideals";
}

.donation-progress-bar {
	position: relative;
	top: 1px;
	width: 19rem;
	min-width: 19rem;
	height: 0.75rem;
	border: 0.125rem solid #353535; 
	border-radius: 0.25rem;
	overflow: hidden;
	margin-right: 0.5rem;
}

.donation-progress-bar-fill {
	position: absolute;
	left: 0;
	top: 0;
	height: 0.5rem;
	z-index: -1;
}

.donation-progress-bar-fill.red {
	background: linear-gradient(180deg, #803A44 0%, #803A44 20%, #B45865 20%, #B45865 80%, #803A44 80%, #803A44 100%);
}

.donation-progress-bar-fill.yellow {
	background: linear-gradient(180deg, #AC9744 0%, #AC9744 20%, #E1DF5F 20%, #E1DF5F 80%, #AC9744 80%, #AC9744 100%);
}

.donation-progress-bar-fill.green {
	background: linear-gradient(180deg, rgba(18,157,56,1) 0%, rgba(18,157,56,1) 20%, rgba(36,195,79,1) 20%, rgba(44,212,90,1) 80%, rgba(18,157,56,1) 80%, rgba(18,157,56,1) 100%);
}

.donation-goal-container {
	display: flex;
	align-items: baseline;
}

.donation-goal-label {
	margin-left: 1rem;
	margin-right: 0.25rem;
}

.donation-total {
	font-variant-numeric: tabular-nums;
}

.runner-block-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.runner-block.solo {
	margin-left: auto;
}

.runner-block.no-game-info .runner-bar-top-text,
.runner-block.no-game-info .runner-bar-bottom-text {
	display: none;
}

.runner-block.no-game-info .runner-bar-bottom {
	top: -0.9375rem;
}

.timer-block {
	position: relative;
	background-color: #313131;
	height: 3.5rem;
	font-family: "Fighting Ideals";
	max-width: max-content;
	color: #fff;
	padding: 0.25rem 1rem 0.25rem 2rem;
	font-size: 2.5rem;
	margin-left: auto;
}

.timer-block:before {
	content: '';
	position: absolute;
	top: 0;
	left: -1.25rem;
	border-right: 1.25rem solid #313131;
	border-top: 1.75rem solid transparent;
	border-bottom: 1.75rem solid transparent;
}

.timer-block-inset-arrow {
	position: absolute;
	left: 0.25rem;
	width: 0.75rem;
	background-color: #646366;
	height: calc(100% - 0.5rem);
}

.timer-block-inset-arrow:before {
	content: '';
	position: absolute;
	top: 0;
	left: -1rem;
	border-right: 1rem solid #646366;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.timer-block-inset-arrow:after {
	content: '';
	position: absolute;
	top: 50%;
	left: -0.25rem;
	border-right: 1rem solid #313131;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
	z-index: 1;
	transform: translateY(-50%);
}

.timer-text {
	position: absolute;
	left: 1rem;
	top: -1rem;
	font-size: 1.5rem;
	color: #313131;
}

#timer {
	font-variant-numeric: tabular-nums;
}

.commentator-list {
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	width: max-content;
	align-items: flex-end;
	margin-left: auto;
}

.commentator-block {
	position: relative;
	left: 3rem;
}

.commentator-block-inner {
	position: absolute;
	left: 0.125rem;
	top: 0.125rem;
	width: 100%;
}

.commentator-block-inner:before {
	content: '';
	position: absolute;
	left: -0.5rem;
	top: -0.325rem;
	border-bottom: 1rem solid #313131;
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	height: 0;
	width: calc(100% - 0.25rem);
}

.commentator-block-inner:after {
	content: '';
	position: absolute;
	left: -0.5rem;
	top: 0.675rem;
	border-top: 1rem solid #313131;
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	height: 0;
	width: calc(100% - 0.25rem);
}

.commentator-block-pronouns {
	display: flex;
	flex-direction: row;	
	align-items: baseline;
	z-index: 1;
}

.commentator-block-pronouns .runner-pronouns-label {
	font-size: 0.875rem;
}

.commentator-block-segment {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	color: #fff;
	font-size: 1.25rem;
	z-index: 1;
	padding: 0 4rem 0 1rem;
	max-width: max-content;
	min-width: max-content;
}

.commentator-block-segment:before {
	content: '';
	position: absolute;
	left: -0.625rem;
	top: -0.4375rem;
	border-bottom: 1.25rem solid #D4D2D5;
	border-left: 0.625rem solid transparent;
	border-right: 0.625rem solid transparent;
	height: 0;
	width: 100%;
	z-index: -1;
}

.commentator-block-segment:after {
	content: '';
	position: absolute;
	left: -0.625rem;
	top: 0.81235rem;
	border-top: 1.25rem solid #D4D2D5;
	border-left: 0.625rem solid transparent;
	border-right: 0.625rem solid transparent;
	height: 0;
	width: 100%;
	z-index: -1;
}

.commentator-block-segment .name {
	z-index: 1;
}

.commentator-block-left {
	max-width: 5rem;
	left: -2.25rem;
	z-index: -3;
}

.commentator-block-left .commentator-block-inner:before {
	border-bottom-color: #D4D2D5;
}


.commentator-block-left .commentator-block-inner:after {
	border-top-color: #D4D2D5;
}

.commentator-mic-icon {
	position: absolute;
	left: 0.125rem;
	top: 0;
	width: 1.5rem;
	height: 1.5rem;
	background-size: cover;
	background-image: url("/bundles/psrd-2022-springtide-storm-layouts/graphics/images/microphone-mixed.png");
}

.commentator-block + .commentator-block {
	margin-top: 1.5rem;
}

.solo .donation-block {
	position: absolute;
	bottom: 1.675rem;
}

.solo .container {
	justify-content: flex-end;
} 